$color-mine-shaft: #292929;
$color-cod-gray: #101010;
$color-white: #fff;
$color-wild-sand: #f5f5f5;
$color-alto: #d6d6d6;

$montserrat: 'Montserrat', sans-serif;

//BREAKPOINTS
$breakpoint-large-devices: 1200px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 992px;
$breakpoint-mobile: 767px;
$breakpoint-small: 375px;
$breakpoint-min: 320px;

//ANIMATION
$duration: .25s;
$easing: ease-in-out;
$delay: .35s;

$zmax: 10;
